<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav nav-fill w-100">
        <li class="nav-item">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNew" aria-expanded="false" aria-controls="collapseNew">
            <i class="fa fa-plus-square" title="Add Note"></i><span> Add Note</span>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasNotes" role="button" aria-controls="offcanvasNotes">
            <i class="fa fa-bars" aria-hidden="true"></i> My Notes
          </a>
        </li>
        <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      </ul>
  </div>
</nav>
<!-- My Notes navigation -->
<div class="container bg-post-it pt-3 mb-5 rounded shadow">
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNotes" aria-labelledby="offcanvasNotesLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNotesLabel">My Notes</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <% if @notes %>
          <% @notes.each_with_index do |note, index| %>
            <li class="list-group-item">
              <a class="row text-dark text-decoration-none" href="<%= "#list-group#{index}" %>">
                <div class="col-12 text-truncate"><%= note.title %></div>
                <div class="col-12 text-truncate"><%= note.body %></div>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- Add new note -->
  <div class="row">
    <div class="collapse mb-3" id="collapseNew">
      <%= render "form", note: @new_note %>
    </div>
  </div>
  <!-- Note -->
  <ul class="list-group pb-5">
    <% if @notes %>
      <% @notes.each_with_index do |note, index| %>
        <li class="list-group-item" id="<%= "list-group#{index}" %>">
          <!-- Note title and buttons -->
          <div class="row pe-3">
            <div class="col-8">
              <div id="<%= "collapseEditTitle#{index}" %>">
                <%= "#{note.title} (created by #{note.user.full_name}, #{note.get_created_time})" %>
              </div>
            </div>
            <div class="col-4 text-end">
              <a class="fas fa-edit p-1 make-editable text-decoration-none" role="button" data-bs-toggle="collapse" href="<%= "#collapseEdit#{index}" %>" aria-expanded="false" aria-controls="<%= "collapseEdit#{index}" %>" index="<%= "#{index}" %>"></a>
              <%= link_to '', note, method: :delete, class: 'fas fa-trash p-1 text-decoration-none', data: { confirm: 'Warning: The note will be deleted?' } %>
              <a role="button" class="" data-bs-toggle="modal" data-bs-target="#modalSend">
                <i class="far fa-paper-plane"></i>
              </a>
            </div>
          </div>
          <!-- Email Modal -->
          <div class="modal fade" id="modalSend" tabindex="-1" aria-labelledby="modalSendLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalSendLabel">Send Note</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for :share, url: send_email_note_path(note), method: "GET" do |f| %>
                    <%= f.label :to_email, 'Send To:' %>
                    <%= f.input :to_email,
                                label: false,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "email", placeholder: "example@gmail.com" } %>
                    <%= f.submit "Share", class: "btn btn-primary mt-1" %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Note body -->
          <div class="row mb-1" id="<%= "collapseEditBody#{index}" %>" >
            <div class="col-12">
              <%= simple_format(note.body) %>
            </div>
          </div>
          <!-- Note Edit collapse -->
          <div class="row">
            <div class="col-12 collapse collapseEdit" id="<%= "collapseEdit#{index}" %>">
              <%= render "form", note: note %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>